{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "extends": ["oceanprotocol", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-use-before-define": "off",
    "eqeqeq": "off",
    "@typescript-eslint/no-use-before-define": "error",
    "no-undef": ["warn"]
  }
}
