{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "prefer-const": [
      "off"
    ],
    "prettier/prettier": "error",
    "mocha-no-only/mocha-no-only": [
      "error"
    ],
  }
}